html, body {
    height:100%;
    padding: 0;
    margin: 0;
    color: #20241C;
    background-color:#d3d3d1;
}

h1, h2, h3, h4 {
    color: #333C30;
    margin-bottom: 0;
}

p {
    margin: 0;
}

.terminal {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12px;
    background-color: #1E1E1E;
    padding: 20px;
    overflow: auto;
    color: #F6DDB9;
    margin: 0;
}

.container{
	width:100%;
}

.column {
    padding: 10px;
    float:left;
    height:100%;
    width:25%;
}

.one {
    width:30%;
}

.two {
    width:30%;
}

.three {
    width:40%;
}

.action {
    cursor: pointer;
    margin: 0;
    padding: 0;
}